ETWebsite/Connected Services/TravelAgencyReference/TravelAgency.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTravelAgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelAgencyDto" nillable="true" type="tns:TravelAgencyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelAgencyDto" nillable="true" type="tns:ArrayOfTravelAgencyDto" />
  <xs:complexType name="TravelAgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PlanePrice" type="xs:double" />
      <xs:element minOccurs="0" name="TrainPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelAgencyDto" nillable="true" type="tns:TravelAgencyDto" />
</xs:schema>