ETWebsite/Connected Services/RouteReference/Route1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53945/Route.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" />
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" minOccurs="0" name="GetRouteResult" nillable="true" type="q1:ArrayOfRouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" minOccurs="0" name="routeDto" nillable="true" type="q2:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostRouteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" minOccurs="0" name="routeDto" nillable="true" type="q3:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutRouteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRouteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" minOccurs="0" name="GetRouteByIdResult" nillable="true" type="q4:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>