ETWebsite/Connected Services/RouteReference/Route2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRouteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteDto" nillable="true" type="tns:RouteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteDto" nillable="true" type="tns:ArrayOfRouteDto" />
  <xs:complexType name="RouteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agency" nillable="true" type="tns:TravelAgencyDto" />
      <xs:element minOccurs="0" name="DepartureTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Distance" type="xs:int" />
      <xs:element minOccurs="0" name="EndLocation" nillable="true" type="tns:LocationDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="RouteModeOfTravel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartingLocation" nillable="true" type="tns:LocationDto" />
      <xs:element minOccurs="0" name="TravelTimeMinutes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteDto" nillable="true" type="tns:RouteDto" />
  <xs:complexType name="TravelAgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PlanePrice" type="xs:double" />
      <xs:element minOccurs="0" name="TrainPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TravelAgencyDto" nillable="true" type="tns:TravelAgencyDto" />
  <xs:complexType name="LocationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TravelRating" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDto" nillable="true" type="tns:LocationDto" />
</xs:schema>