ETWebsite/Connected Services/RouteReference/Route.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Route" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53945/Route.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53945/Route.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53945/Route.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ETApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoute_GetRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoute" />
  </wsdl:message>
  <wsdl:message name="IRoute_GetRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IRoute_PostRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRoute" />
  </wsdl:message>
  <wsdl:message name="IRoute_PostRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IRoute_PutRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:PutRoute" />
  </wsdl:message>
  <wsdl:message name="IRoute_PutRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IRoute_DeleteRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoute" />
  </wsdl:message>
  <wsdl:message name="IRoute_DeleteRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRouteResponse" />
  </wsdl:message>
  <wsdl:message name="IRoute_GetRouteById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteById" />
  </wsdl:message>
  <wsdl:message name="IRoute_GetRouteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRoute_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IRoute_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoute">
    <wsdl:operation name="GetRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoute/GetRoute" message="tns:IRoute_GetRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoute/GetRouteResponse" message="tns:IRoute_GetRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoute/PostRoute" message="tns:IRoute_PostRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoute/PostRouteResponse" message="tns:IRoute_PostRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoute/PutRoute" message="tns:IRoute_PutRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoute/PutRouteResponse" message="tns:IRoute_PutRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoute/DeleteRoute" message="tns:IRoute_DeleteRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoute/DeleteRouteResponse" message="tns:IRoute_DeleteRoute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRouteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoute/GetRouteById" message="tns:IRoute_GetRouteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoute/GetRouteByIdResponse" message="tns:IRoute_GetRouteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoute/Message" message="tns:IRoute_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoute/MessageResponse" message="tns:IRoute_Message_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoute" type="tns:IRoute">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRoute">
      <soap:operation soapAction="http://tempuri.org/IRoute/GetRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostRoute">
      <soap:operation soapAction="http://tempuri.org/IRoute/PostRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutRoute">
      <soap:operation soapAction="http://tempuri.org/IRoute/PutRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoute">
      <soap:operation soapAction="http://tempuri.org/IRoute/DeleteRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRouteById">
      <soap:operation soapAction="http://tempuri.org/IRoute/GetRouteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IRoute/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Route">
    <wsdl:port name="BasicHttpBinding_IRoute" binding="tns:BasicHttpBinding_IRoute">
      <soap:address location="http://localhost:53945/Route.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>